<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="search">
            <section name="index" type="manathan.find.Configuration.IndexedPages, manathan.find, Version=1.0.0.0, Culture=neutral"/>
        </sectionGroup>
        <section name="log4net"
          type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <search>
        <index workerstorage="C:\manathan-index\worker"
               releasestorage="C:\manathan-index\release">
            <crawler>
                <crawlers>
                    <item name="FileCrawler" type="manathan.file.crawler.FileCrawler, manathan.file.crawler" />
                    <item name="WebCrawler" type="manathan.web.crawler.WebCrawler, manathan.web.crawler"/>
                </crawlers>
            </crawler>
            <pages>
                <page url="c:\temp\logs" crawler="FileCrawler">
                    <rules>
                        <item type="manathan.file.crawler.Rules.SeperatedLineRule, manathan.file.crawler">
                            <settings>
                                <item key="Seperator" value="	" />
                                <item key="Headers" value="Protocol,unkn1,unkn2,timestamp,ip,message" />
                                <item key="HasHeader" value="false" />
                                <item key="FieldMapping" value="Title=Protocol;Content=message" />
                            </settings>
                        </item>
                    </rules>
                </page>
            </pages>
        </index>
    </search>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <log4net debug="false">
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="log.txt" />
            <param name="AppendToFile" value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d %-5p %c %m%n" />
            </layout>
        </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="ERROR" />
                <foreColor value="White" />
                <backColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <backColor value="Green" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
            </layout>
            <filter type="log4net.Filter.StringMatchFilter">
                <stringToMatch value="test" />
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>
        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <root>
            <priority value="ALL" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="EventLogAppender" />
        </root>
    </log4net>
</configuration>