<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('[data-toggle-more="result"]').hide();
                $('[data-toggle-more="result"]').click(function() {
                    $(this).parent().find('[data-toggle-more="result"]').hide('medium');
                    $(this).parent().find('[data-toggle-more="toggle"]').show();
                });
                $('[data-toggle-more="toggle"]').click(function() {
                    $(this).parent().find('[data-toggle-more="toggle"]').hide();
                    $(this).parent().find('[data-toggle-more="result"]').show('medium');
                });
                $('[data-dialog]').click(function() {
                    $('.' + $(this).attr('data-dialog')).toggle('medium');
                });
                $('[data-dialog-window] [data-dialog-close]').click(function() {
                    $(this).parents('[data-dialog-window]').hide('medium');
                });
            });
        </script>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>